.card {
  background: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);

  border-radius: 14px;

  padding: 1rem;

  text-align: center;

  transition: .2s;
}

.card:hover {
  transform: translateY(-3px);

  border-color: var(--ifm-color-primary);
}

.image {
  width: 120px;
  height: 120px;

  object-fit: contain;

  margin: auto;
  display: block;
}

.name {
  margin: 1rem 0;
}

.section {
  margin-top: 1rem;

  text-align: left;
}

.section h4 {
  margin-bottom: .5rem;
}