.table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

.table th,
.table td {
  padding: 0.9rem;
  border: 1px solid var(--ifm-color-emphasis-300);
}

.table th {
  background: var(--ifm-color-emphasis-200);
  text-align: left;
}